// 1. input
$div: 12;
$column-width-float: 0.01;

// 2. calculate gutter width, given: div x col + (div + 1) x gutter = 1
$gutter-width-float: (1 - $div * $column-width-float) / ($div + 1);

// 3. calculate column and gutter width in percentage
$column-width: percentage($column-width-float);
$gutter-width: percentage($gutter-width-float);

// 4. set grid layout styles
@for $i from 1 through 12 {
  .grid-#{$i} {
    width: $i * $column-width + ($i - 1) * $gutter-width;
    margin-left: $gutter-width;
    float: left;
    display: block;
    @media screen and (max-width: $breakpoint) {

		width: 100%;
		margin-left: auto;

	}
  }
}

@for $i from 1 to $div {
  .grid-offset-#{$i} {
    margin-left: $i * $column-width + ($i + 1) * $gutter-width;
    @media screen and (max-width: $breakpoint) {

		width: 100%;
		margin-left: 0;

	}
  }
}


.alpha {

	margin-left: 0;
	float: left;

}

.omega {

	margin-right: 0;
	float: right;

}

.clear {

	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;

}

.clearfix:after {

	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;

}

.hide-small {

	@media screen and (max-width: $breakpoint) {

		display: none;

	}

}

* html .clearfix, *:first-child+html .clearfix {

	zoom:1;

}

.row {
	margin: auto;
}

.center {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}