.header {

	font-family: 'Ubuntu Mono';
	padding: 100px 0 50px 0;

	&__logo { 
		height: 200px; 
		text-align: center;
		img { height: 100%; }
	}

	&__title {
		font-size: 3rem;
		margin: 20px 0 10px 0;
	}

	&__subtitle {
		font-size: 1.2rem;
		margin: 0;
	}

}