.nav {

	margin: 80px auto auto auto;
	text-align: center;

	li {
		display: inline-block;
		margin: 15px;

		i {
			font-size: 35px;
			@media screen and (min-width: 1000px) {
				font-size: 50px;
			}
			text-align: center;
			display: block;
			margin: auto;
		}

	}

	a.active i {
		color: lighten($color-base, 30);
	}

}

.nav__help {

	width: 150px;
	position: static;

	margin: auto auto 20px auto;
	text-align: center;

	padding: 5px 10px;
	background-color: lighten($color-base, 20);
	opacity: 0.4;
	color: white;

	border-radius: 5px;

}