.demo-link {

	margin: 5px 0;

	padding: 5px 0;

	@include transition(all, 0.2s);

	&__content {

		width: 100%;
		padding: 15px;
		height: 100%;

		background-color: $color-base;

		border-radius: 6px;
		cursor: pointer;

		p, a { color: white; text-align: center; @include font-size(18px); font-family: 'Ubuntu Mono'; }

	}

	opacity: 0.6;
	&:hover { opacity: 1; }

}
