.nav {

	margin: 60px auto auto auto;
	text-align: center;

	li {
		display: inline-block;
		margin: 15px;

		i {
			font-size: 35px;
			@media screen and (min-width: 1000px) {
				font-size: 50px;
			}
			text-align: center;
			display: block;
			margin: auto;
		}

	}

	a.active i {
		color: lighten($color-base, 30);
	}

}

.nav__help {


	line-height: 125%;

	width: 150px;
	position: static;

	margin: auto auto 20px auto;
	text-align: center;

	@include font-size(18px);

	padding: 5px 10px;
	color: $color-base;
	opacity: 0.8;

	border-radius: 5px;

}