* {
	font-family:Monaco;
}

#content {
	width:90%;
	max-width:700px;
	margin:80px auto;
}

p {
	line-height:1.75;
}

canvas {
	background-color:hsla(251,40,60);
}

#wrapper {
	position:absolute;
}

.download {
	position : absolute;
	width : 80%;
	padding : 30px;
	border-radius : 10px;
	margin-top : 20px;
	margin-left : auto;
	margin-right : auto;
	background-color : rgb(61,56,79);
	color : white;
	word-wrap : break-word;
	
}

li {
	margin:10px auto;
}

.code {
	box-shadow: 0px 0px 5px 2px #999;
	word-wrap:break-word;
	width: 65%;
	margin: auto;
	padding: 20px;
	background-color: #eee;
	border-radius: 15px;
}